*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: "League Spartan";
    background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0, 100% 100%;
}

h1,h2,h3,p{
    margin:0;
}

main{
    padding: 5rem 1rem;
    max-width:1200px;
    margin: 0 auto;
}

p{
    line-height: 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
}

h1+p{
    margin: 1.25rem 0 3rem;
    color: hsl(303, 10%, 53%);
}

h1{
    font-size: 2.5rem;
    color: hsl(301,45%,22%);
}

em{
    font-style:normal;
    font-weight: 700;
    display: block;
    margin-top: 1rem;
}

img{
    vertical-align: middle;
}

article:first-child{
    text-align: center;
}

.ratings{
    color: hsl(301,45%,22%);
    background: hsl(290, 30%, 96%);
    border-radius: .5rem;
    padding: 1.25rem 2rem;
}

.ratings+.ratings{
    margin-top: 1rem;
}

.testimonial img{
    width:40px;
    border-radius: 50%;
}

.ib{
    display: inline-block;
}

.testimonial{
    background: hsl(301,45%,22%);
    color:white;
    padding: 2rem;
    border-radius: .5rem;
}

.testimonial div{
    vertical-align: middle;
    margin-left: 1rem;
}

.testimonial h2{
    font-size: 1.2rem;
}

.testimonial h3{
    color: hsl(333,80%,67%);
    font-size: 1rem;
}

.testimonial+.testimonial{
    margin-top: 1rem;
}

.testimonial p{
    margin-top: 2rem;
}

article:nth-child(2){
    margin-top: 3rem;
}

@media screen and (min-width:1190px) {
    .dib{
        display: inline-block;
    }

    article section:first-child{
        width:36%;
        vertical-align: middle;
    }

    article section:nth-child(2){
        width: 36%;
        vertical-align: middle;
    }

    article{
        text-align-last: justify;
    }

    article >*{
        text-align-last: initial;
    }

    h1{
        font-size: 3.2rem;
    }

    article:first-child{
        text-align: start;
    }

    em{
        display: inline;
        margin: 0 0 0 1.5rem;
    }

    article:nth-child(2){
        margin-top: 1.5rem;
    }
    
    span{
        width:32%;
    }

    h1+p{
        margin-bottom: 0;
    }

    .ratings:first-child{
        transform: translateX(-100px);
    }

    .ratings:nth-child(2){
        transform: translateX(-50px);
    }

    .testimonial:nth-child(2){
        transform: translateY(15px);
    }

    .testimonial:last-child{
        transform: translateY(30px);
    }

    body{
        background-image: url("./images/bg-pattern-top-desktop.svg"), url(./images/bg-pattern-bottom-desktop.svg);
    }
}
